<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="メモ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <メモ.Properties.Settings>
            <setting name="Initialized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="E_Initialized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="E_Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="E_Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="E_Height" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="E_Width" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="AutoSaveFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSaveInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>ＭＳ Ｐゴシック, 9.25pt</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>Black</value>
            </setting>
        </メモ.Properties.Settings>
    </userSettings>
</configuration>